.page-detail {
    text-align: left;
}

 .info .title, .info-sub .title{
    text-align: left;
    color: darkgray;
}

.info hr, .info-sub hr{
    margin: 0px;
    padding: 0px;
    border: 0;
    height: 2px;
    background-color: lightgray;
}

.info-list{
    list-style-type: none;
    margin-top : 10px;
    padding: 0;
}
.info-list li {
    font-size: 16px;
    margin: 5px 20px;  
    line-height: 36px;
    vertical-align: middle;
}
.info-list li span{
    font-weight: bold;
}
.info-list li button{
    float : right
}

.info-sub{
    margin-top : 30px;
}