.page-detail {
    text-align: left;
}

 .info .title, .info-sub .title{
    text-align: left;
    color: darkgray;
}

.info hr, .info-sub hr{
    margin: 0px;
    padding: 0px;
    border: 0;
    height: 2px;
    background-color: lightgray;
}

.info-list{
    list-style-type: none;
    margin-top : 10px;
    padding: 0;
}
.info-list li {
    font-size: 16px;
    margin: 5px 20px;  
    line-height: 36px;
    vertical-align: middle;
}
.info-list li span{
    font-weight: bold;
}
.info-list li button{
    float : right
}

.info-sub{
    margin-top : 30px;
}
.viewSearch {
    width:220px;
    position: absolute;
    background-color: white;
    text-align: left;
    color : darkgray;
    font-size: 14px;
}
.viewSearch hr{
    margin: 0px;
    padding: 0px;
    border: 0;
    height: 1px;
    background-color: lightgray;
}


.search-wrap .title{
    text-align: left;
    width: 100%;
}
.search-wrap .title h2{
    width:30%; display: block;float: left;
}
.search-wrap .title .info-list{
    list-style: square;display: block;float: right;
    width:68%;
}
.search-wrap .title .info-list li{
    width:10%;float: left;
}
.search-wrap .title .info-list li:nth-child(1){
    color: lightskyblue;font-weight: bold;
}
.search-wrap .title .info-list li:nth-child(2){
    color: lightgreen;font-weight: bold;
}
.search-wrap .title .info-list li:nth-child(3){
    color: lightcoral;font-weight: bold;
}
.search-wrap .title .info-list li:nth-child(4){
    color: darkkhaki;font-weight: bold;
}

.search-wrap .title .info-list li.info-end{
   clear: both;
}
.search-wrap  .search {
    width: 100%;
    text-align: left;
    display: block;
    margin : 10px 5px;
    
}
.search-wrap  .search label{
    margin-right: 10px;
    
}